// color
$color-primary: #e80872;
$color-secondary: #592368;
$color-tertiary: #3722bb;
$color-grey-light: #f0f0f0;
$color-grey-dark: #3f3f3f;
$color-grey-dark-2: #999;
$color-white: #fbfeff;
$color-black: #161616;
$color-extra-black: #000;
// fonts
$default-font-size: 2rem;

// grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$code-width-small: 28rem;
$code-width-big: 56rem;
