.footer {
	background-color: $color-black;
	padding: 3rem;

	&__logo-box {
		margin: 0 auto;
		width: 75%;
	}

	&__navigation,
	&__social-media,
	&__copyright {
		font-size: $default-font-size;
	}

	&__navigation,
	&__social-media {
		border-top: 1px solid $color-grey-dark;
	}

	&__navigation {
		padding-top: 1rem;
	}

	&__list,
	&__social-media-list {
		list-style-type: none;
	}

	&__item {
		display: inline-block;
		margin-right: 1.5rem;
	}
}
