.header {
	position: relative;

	&__logo {
		width: 15rem;
	}

	&__nav {
		background-color: $color-black;
		margin: 0 auto;
		height: 6rem;
		border-bottom: 1px solid $color-grey-dark;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
	}

	&__nav-box {
		max-width: $grid-width;
		margin: 0 auto;
	}

	&__logo-box {
		float: left;
		width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
	}

	&__image-box {
		width: 100%;
		margin-top: 6rem;
		height: 92vh;
		background-image: linear-gradient(
				to right bottom,
				rgba($color-primary, 0.75),
				rgba($color-secondary, 0.75)
			),
			url('../assets/ava2020.png');
		background-position: center;
		background-size: cover;
		position: relative;

		@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
			clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
		}

		@include respond(tab-port) {
			@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
				-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 95%);
				clip-path: polygon(0 0, 100% 0, 100% 90%, 0 95%);
			}
		}
	}

	&__text-box {
		position: relative;
		width: $code-width-big;
	}

	&__about-box {
		width: 100%;
		margin-top: 6rem;
		height: 90vh;
		background-color: $color-black;
		border-bottom: 1px solid $color-grey-dark;

		@include respond(small-phone) {
			height: 110vh;
		}
	}
}
