.card {
	background-color: $color-extra-black;
	border-radius: 3px;
	border: 1px solid;
	border-image-slice: 1;
	border-width: 1px;
	border-image-source: linear-gradient(
		to left,
		$color-primary,
		$color-secondary
	);
	padding: 2rem;

	&__shape {
		width: 15rem;
		height: 15rem;
		margin: 0 auto;
		overflow: hidden;

		@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
			-webkit-shape-outside: circle(50% at 50% 50%);
			shape-outside: circle(50% at 50% 50%);
			-webkit-clip-path: circle(50% at 50% 50%);
			clip-path: circle(50% at 50% 50%);
			border-radius: none;
		}
	}

	&__image {
		display: block;
		max-width: 100%;
	}

	&__caption {
		margin-top: 100rem;
	}

	&__text {
		margin-top: 2rem;
		font-size: 1.6rem;
	}

	&__footer {
		margin-top: 1rem;
	}
}
