body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-light;
}

.heading-primary {
	font-size: 4.5rem;
	color: $color-white;
	text-transform: uppercase;

	@include respond(tab-land) {
		font-size: 4rem;
	}

	@include respond(tab-port) {
		font-size: 3.5rem;
	}

	@include respond(phone) {
		font-size: 2.5rem;
	}

	&--intro {
		font-size: 3rem;
		color: $color-white;
	}

	&--code {
		display: inline-block;
		font-family: 'Courier New', Courier, monospace;
		color: $color-white;
		font-size: 4rem;

		@include respond(phone) {
			font-size: 2rem;
		}
	}

	&--main-white {
		font-size: 7rem;
		color: $color-white;
		line-height: 10rem;

		@include respond(small-phone) {
			font-size: 4rem;
			line-height: 6rem;
		}
	}

	&--main {
		font-size: 7rem;
		width: 80%;
		margin: 0 auto;
		line-height: 10rem;
		background-image: linear-gradient(
			to right,
			$color-primary,
			$color-secondary
		);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;

		@include respond(tab-port) {
			font-size: 4rem;
			line-height: 6rem;
		}
	}
}

.heading-secondary {
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 700;
	background-image: linear-gradient(to right, $color-primary, $color-secondary);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: inline-block;
	letter-spacing: 0.2rem;
	transition: all 0.2s;

	&--white {
		font-size: 4rem;
		text-transform: uppercase;
		font-weight: 700;
		color: $color-white;
		display: inline-block;
		letter-spacing: 0.2rem;
		transition: all 0.2s;
	}
}

.heading-tertiary {
	font-size: 2.4rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $color-white;
}

.paragraph {
	font-size: 1.6rem;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
