.article-about {
	&__us {
		background-color: $color-extra-black;
		padding-top: 15rem;
		padding-bottom: 10rem;
	}

	&__hackathon {
		background-color: $color-black;
		padding-top: 15rem;
		padding-bottom: 10rem;
	}

	&__mission {
		background-color: $color-extra-black;
		padding-top: 15rem;
		padding-bottom: 10rem;
	}

	&__image {
		display: block;
		max-width: 100%;
	}
}
