.hackathon-header {
	width: 100%;
	margin-top: 6rem;
	height: 92vh;
	background-image: linear-gradient(
		to right bottom,
		rgba($color-primary, 0.65),
		rgba($color-secondary, 0.65)
	);
	background-position: center;
	background-size: cover;
	position: relative;

	&__heading {
		display: none;
	}

	@media (max-width: 957px) {
		background-image: linear-gradient(
				to right bottom,
				rgba($color-primary, 0.8),
				rgba($color-secondary, 0.8)
			),
			url('../assets/Hackathon-image.png');

		&__heading {
			display: block;
			text-align: center;
			@include absCenter;
		}
	}
}

.article {
	&-statistics {
		background-color: $color-extra-black;
		padding-top: 15rem;
		padding-bottom: 15rem;
	}

	&-purposes {
		// background-color: $color-black;
		background-image: linear-gradient(
				to right,
				rgba($color-black, 0.8),
				rgba($color-extra-black, 0.8)
			),
			url('../assets/hackathon-mixed.png');
		background-size: cover;
		background-position: top;
		padding-top: 15rem;
		padding-bottom: 10rem;

		&-box {
			margin-top: -17rem;
			opacity: 0.7;
		}
	}

	&-evaluation {
		padding-top: 15rem;
		background-color: $color-extra-black;
		padding-bottom: 15rem;
	}

	&-partner {
		background-color: $color-black;
		padding-top: 10rem;
		padding-bottom: 5rem;
	}

	&-agenda {
		background-image: url('../assets/logodark.png');
		background-size: cover;
		background-position: top;
		padding-top: 15rem;
		padding-bottom: 10rem;
		position: relative;

		&__intro {
			position: absolute;
			writing-mode: vertical-rl;
			font-size: 3rem;
			border: 3px solid $color-white;
			border-radius: 100px;
			padding: 1.5rem;
			top: 50%;
			right: 2%;

			@include respond(tab-land) {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

.icon {
	font-size: 5rem;
}
