.article-about {
	background-color: $color-extra-black;
	padding: 25rem 0;
	margin-top: -20vh;

	@include respond(tab-port) {
		padding: 15rem 0;
	}
}

.article-quotes {
	margin-top: -10rem;
	background-color: $color-black;
	padding-bottom: 10rem;
	transform: skewY(-6deg);

	& > * {
		transform: skewY(6deg);
	}
}

.article-features {
	background-color: $color-extra-black;
	padding-top: 30rem;
	margin-top: -10rem;
	padding-bottom: 20rem;

	@include respond(tab-port) {
		padding-top: 20rem;
	}
}

.article-register {
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary, 0.8),
			rgba($color-secondary, 0.8)
		),
		url('../assets/hackathon.jpg');
	background-size: cover;
	background-position: center;
	height: 70vh;
	position: relative;
}

.general-statistics {
	background-image: linear-gradient(
			to right bottom,
			rgba($color-black, 0.75),
			rgba($color-black, 0.75)
		),
		url('../assets/homepage-secondary.png');
	background-position: center;
	background-size: cover;
}

.heading__text-box {
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);

	@include respond(tab-land) {
		top: 40%;
	}
}

.registration {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);

	@include respond(tab-port) {
		top: 75%;
	}
}
